:host {
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    .order-list {
        overflow: scroll;

        &__item {
            &__edit {
                position: absolute;
                top: 0;
                right: 16px;
            }
        }
    }

    .button-group {
        padding-top: 12px;
    }
}

.confirm-dialog {
    &__content {
        display: flex;
        flex-direction: column;

        .total-amount {
            color: orangered;
        }
    }
}
