<div fxLayout="column" class="container">
    <h1>已點清單</h1>
    <mat-list fxFlex="1 1 auto" class="order-list">
        <ng-container *ngFor="let type of [1, 2, 3, 4]; index as i">
            <div mat-subheader>Type {{ type }}</div>
            <mat-list-item *ngFor="let folder of [1, 2, 3]">
                <button
                    [mat-menu-trigger-for]="menu"
                    mat-button
                    class="order-list__item__edit"
                >
                    <mat-icon>more_horiz</mat-icon>
                </button>
                <div mat-line>品項名稱</div>
                <div mat-line fxLayout fxLayoutAlign="space-between">
                    <span>x 1</span>
                    <span>{{ 6666 | currency: 'TWD':'NT$ ':'1.0-0' }}</span>
                </div>
            </mat-list-item>
            <mat-divider *ngIf="i !== 3"></mat-divider>
        </ng-container>
    </mat-list>

    <mat-divider></mat-divider>
    <div style="padding: 12px 16px" fxLayout fxLayoutAlign="space-between">
        <span>總金額</span>
        <span>{{ 999999 | currency: 'TWD':'NT$ ':'1.0-0' }} </span>
    </div>

    <mat-divider></mat-divider>
    <div class="button-group" fxLayout fxLayoutAlign="space-around">
        <button mat-stroked-button color="primary" fxFlex="1 1 33%">
            取消
        </button>
        <button mat-raised-button color="primary" fxFlex="1 1 33%">確認</button>
    </div>
</div>

<mat-menu #menu>
    <button mat-menu-item>修改</button>
    <button mat-menu-item>刪除</button>
</mat-menu>
