<div fxLayout class="layout">
    <div class="order-container" fxFlex="1 1 35%">
        <app-order-preview></app-order-preview>
    </div>
    <mat-divider vertical="true"></mat-divider>
    <div class="menu-container" fxFlex="1 1 65%">
        <mat-tab-group mat-align-tabs="start" class="tab-group">
            <mat-tab
                *ngFor="let section of menu$ | async"
                [label]="section.type"
            >
                <div fxLayout fxLayoutGap="10px grid" class="menu">
                    <app-menu-item-card
                        fxFlex="1 1 33%"
                        *ngFor="let item of section.items"
                        [item]="item"
                    ></app-menu-item-card>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
