@use '@angular/material' as mat;

.layout {
    height: 100%;
    width: 100%;
}

.order-container {
    height: 100%;
    padding: 24px;
}

.menu-container {
    height: 100%;
    width: 100%;

    .tab-group {
        height: 100%;
    }

    .menu {
        padding: 24px;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
    }
}
