<mat-list-item>
    <button [mat-menu-trigger-for]="menu" mat-button class="item__edit">
        <mat-icon>more_horiz</mat-icon>
    </button>
    <div mat-line>{{ item.name }}</div>
    <div mat-line fxLayout fxLayoutAlign="space-between">
        <span>x {{ count }}</span>
        <span>{{ item.price * count | currency: 'TWD':'NT$ ':'1.0-0' }}</span>
    </div>

    <mat-menu #menu>
        <button mat-menu-item (click)="openModifyDialog(dialog)">修改</button>
        <button mat-menu-item (click)="delete(item)">刪除</button>
    </mat-menu>
</mat-list-item>

<ng-template #dialog>
    <h1 mat-dialog-title>修改餐點數量</h1>
    <div mat-dialog-content class="confirm-dialog__content">
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>請輸入數量</mat-label>
            <input
                #input
                matInput
                type="number"
                min="1"
                [(ngModel)]="newCount"
            />
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button mat-dialog-close="">取消</button>
        <button
            mat-raised-button
            color="primary"
            mat-dialog-close=""
            [disabled]="input.validity.rangeUnderflow"
            (click)="update()"
        >
            更新
        </button>
    </div>
</ng-template>
