<div fxLayout="column" class="container">
    <h1>已點清單</h1>
    <mat-list fxFlex="1 1 auto" class="order-list" cdkScrollable>
        <ng-container *ngFor="let type of sectionTypes; index as i">
            <div mat-subheader>{{ type }}</div>
            <app-order-item
                *ngFor="let section of sections[type]!"
                [item]="getItemInfo(section.id)"
                [count]="section.count"
                (deleteClick)="deleteItem.emit($event)"
                (modifyClick)="modifyItem.emit($event)"
            ></app-order-item>
            <mat-divider *ngIf="i !== sectionTypes.length - 1"></mat-divider>
        </ng-container>
    </mat-list>

    <mat-divider></mat-divider>
    <div class="button-group" fxLayout fxLayoutAlign="space-around">
        <ng-container *ngIf="!isClosed">
            <button
                mat-raised-button
                fxFlex="1 1 33%"
                (click)="cancelClick.emit()"
            >
                取消
            </button>
            <button
                mat-raised-button
                color="warn"
                fxFlex="1 1 33%"
                *ngIf="order"
                (click)="close()"
            >
                關單
            </button>
        </ng-container>
        <button
            mat-raised-button
            color="primary"
            fxFlex="1 1 33%"
            [disabled]="isConfirmDisabled"
            (click)="openConfirmDialog(dialog)"
        >
            確認
        </button>
    </div>
</div>

<ng-template class="confirm-dialog" #dialog>
    <h1 mat-dialog-title>確認點餐金額及指定號碼牌</h1>
    <div mat-dialog-content class="confirm-dialog__content">
        <div class="mat-h3">
            總金額：<span class="total-amount">{{
                totalAmount$ | async | currency: 'TWD':'NT$ ':'1.0-0'
            }}</span>
        </div>
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>請輸入號碼牌</mat-label>
            <input
                matInput
                type="number"
                [(ngModel)]="waitingNumber"
                [disabled]="isUpdating"
            />
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button mat-dialog-close="">取消</button>
        <button
            *ngIf="!isUpdating"
            mat-raised-button
            color="primary"
            mat-dialog-close=""
            (click)="create()"
            [disabled]="isSubmitDisabled"
        >
            新增
        </button>

        <button
            *ngIf="isUpdating"
            mat-raised-button
            color="primary"
            mat-dialog-close=""
            (click)="update()"
        >
            更新
        </button>
    </div>
</ng-template>
